# LangSmith configuration
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=LangChain-Ollama-Chatbot

# Optional if you use a non-default LangSmith endpoint
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
